{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      }
    ],
    "inferno"
  ],
  "plugins": ["transform-class-properties", ["inferno", { imports: true }], "syntax-jsx", "add-module-exports"]
}
